*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

@font-face {
  font-family: "inter";
  src: url("../fonts/Inter-VariableFont_slnt\,wght.ttf");
}

/* Fluid font size variables, for browsers that support clamp */
@supports (font-size: clamp(1rem, 1vw, 1rem)) {
  :root {
    --fs-sm: clamp(0.7rem, 0.1vw + 0.7rem, 0.8rem);
		--fs-base: clamp(0.9rem, 0.2vw + 0.8rem, 1rem);
		--fs-md: clamp(1.1rem, 0.3vw + 1rem, 1.3rem);
		--fs-lg: clamp(1.3rem, 0.6vw + 1.2rem, 1.8rem);
		--fs-xl: clamp(1.7rem, 0.9vw + 1.4rem, 2.4rem);
		--fs-xxl: clamp(2.1rem, 1.4vw + 1.7rem, 3.2rem);
		--fs-xxxl: clamp(2.6rem, 2.1vw + 2.1rem, 4.2rem);
  }
}
/* Fallback variables for browsers that don't support clamp */
@supports not (font-size: clamp(1rem, 1vw, 1rem)) {
  :root {
    --fs-sm: 0.7rem;
		--fs-base: 0.9rem;
		--fs-md: 1.1rem;
		--fs-lg: 1.3rem;
		--fs-xl: 1.7rem;
		--fs-xxl: 2.1rem;
		--fs-xxxl: 2.6rem;
  }
  @media screen and (min-width: 1440px) {
    :root {
      --fs-sm: 0.8rem;
			--fs-base: 1rem;
			--fs-md: 1.3rem;
			--fs-lg: 1.8rem;
			--fs-xl: 2.4rem;
			--fs-xxl: 3.2rem;
			--fs-xxxl: 4.2rem;
    }
  }
}

:root{
  --clr-P-green: hsl(75, 94%, 57%);
  --clr-N-White: hsl(0, 0%, 100%);
  --clr-N-Grey: hsl(0, 0%, 20%);
  --clr-N-Dark-Grey: hsl(0, 0%, 12%);
  --clr-N-Off-Black: hsl(0, 0%, 8%);

  --ff-inter: 'inter', Tahoma, Geneva, Verdana, sans-serif;
  --fw-400: 400;
  --fw-600: 600;
  --fw-700: 700;
}

body{
  font-family: var(--ff-inter);
  font-size: var(--fs-base);
  font-weight: var(--fw-400);
}